<section class="content-header">
    <h1>资质详情</h1>
</section>

<!-- 编辑页 -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
            	<div class="overlay" ng-if="isLoading">
	            	<i class="fa fa-refresh fa-spin"></i>
	            </div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{inspectionId?"编辑":"新建"}}</h3>
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-info" ng-click="submit()">提交</button>
                        <button class="btn btn-default" ng-if="target!=1" ng-click="back()">取消</button>
                        <button class="btn btn-default" ng-if="target==1" ng-click="close()">关闭</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品型号*</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="输入产品型号" ng-model="formData.model">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">软件名称*</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入软件名称" ng-model="formData.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">软件版本</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入软件版本" ng-model="formData.version">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">测试/检验类别</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="委托/型式/单项检验" ng-model="formData.testType">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">受检单位</label>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="杭州海康威视系统技术有限公司" ng-model="formData.company">杭州海康威视系统技术有限公司
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="杭州海康威视数字技术股份有限公司" ng-model="formData.company">杭州海康威视数字技术股份有限公司
                                    </label>
                                </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">测试依据</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入测试依据" ng-model="formData.basis">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">颁发日期*</label>
                            <div class="col-sm-3">
                                <input type="date" name="awardDate" class="form-control" ng-model="formData.awardDate"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件编号*</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入文件编号" ng-model="formData.docNo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">证书系统链接</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入证书系统链接" ng-model="formData.certUrl">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">认证/测试机构</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="请输入认证/测试机构" ng-model="formData.organization">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" placeholder="any comments..." rows="5" ng-model="formData.remarks"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">检测项</label>
                            <div class="col-sm-8">
                                <div class="fileinput fileinput-new">
                                    <span class="btn btn-default btn-file" ng-click="openFile()">
                                        <span>{{fileName?'重新上传':'选择文件'}}</span>
                                    </span>
                                    <span class="fileinput-filename">{{fileName?fileName:'请选择'}}</span>
                                    <icon class="close" ng-if="fileName" style="float: none" ng-click="removeFile()">×</icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
