<section class="content-header">
	<h1>资质详情  <small>{{digest.model}} {{digest.docNo}}</small></h1>
	<span class="view-search-hint" ng-if="searchInput.keyword"> 
	{{searchInput.keyword?('检索关键字：'+searchField+'='+searchInput.keyword):''}} 
	{{searchInput.contentKeyword?('内容关键字='+searchInput.contentKeyword):''}}</span>
</section>

<!-- 查看页 -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
		
			<div class="overlay" ng-if="isLoading">
            	<i class="fa fa-refresh fa-spin"></i>
            </div>
			<!-- Custom Tabs -->
			<div class="nav-tabs-custom">
	            
				<ul class="nav nav-tabs">
					<li class="{{viewType==1?'active':''}}">
						<a ng-href="#{{currentLocation}}?id={{inspectionId}}&f={{searchField}}&kw={{searchInput.keyword}}&c={{searchInput.contentKeyword}}&v=1">
							检测报告</a>
					</li>
					<li class="{{viewType==2?'active':''}}">
						<a ng-href="#{{currentLocation}}?id={{inspectionId}}&f={{searchField}}&kw={{searchInput.keyword}}&c={{searchInput.contentKeyword}}&v=2">
						检测项</a>
					</li>
					<li class="pull-right">
						<button ng-if="authority=='ROLE_ADMIN'" type="submit" class="btn btn-info" ng-click="edit()" ng-if="authority=='ROLE_ADMIN'">编辑</button>
                        <button class="btn btn-default" ng-if="!searchInput.keyword" ng-click="back()">返回</button>
                        <button class="btn btn-default" ng-if="searchInput.keyword" ng-click="close()">关闭</button>
					</li>
					
				</ul>
				<div class="tab-content">
					<div class="tab-pane {{viewType==1?'active':''}}">
						<table class="table table-striped">
							<tr>
								<td>产品型号</td>
								<td ng-bind-html="digest.model | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>软件名称</td>
								<td ng-bind-html="digest.name | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>软件版本</td>
								<td>{{digest.version}}</td>
							</tr>
							<tr>
								<td>测试/检验类别</td>
								<td ng-bind-html="digest.testType | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>受检单位</td>
								<td>{{digest.company}}</td>
							</tr>
							<tr>
								<td>测试依据</td>
								<td>{{digest.basis}}</td>
							</tr>
							<tr>
								<td>颁发日期</td>
								<td>{{digest.awardDate |  date:'yyyy-MM-dd'}}</td>
							</tr>
							<tr>
								<td>文件编号</td>
								<td ng-bind-html="digest.docNo | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>索引文件名</td>
								<td><a ng-href="#{{currentLocation}}?id={{inspectionId}}&f={{searchField}}&kw={{searchInput.keyword}}&c={{searchInput.contentKeyword}}&v=2">{{digest.docFilename}}</a></td>
							</tr>
							<tr>
								<td>证书系统链接</td>
								<td>
									<span ng-if="!digest.hasURL">{{digest.certUrl}}</span> 
									<a ng-if="digest.hasURL" ng-href="{{digest.certUrl}}" target="_blank">{{digest.certUrl}}</a>
								</td>
							</tr>
							<tr>
								<td>认证/测试机构</td>
								<td ng-bind-html="digest.organization | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>备注</td>
								<td ng-bind-html="digest.remarks | highlight: tkeywordsList"></td>
							</tr>
							<tr>
								<td>建立时间</td>
								<td>{{digest.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
							</tr>
							<tr>
								<td>更新时间</td>
								<td>{{digest.updateDate | date:'yyyy-MM-dd HH:mm'}}</td>
							</tr>
							<tr>
								<td>操作人</td>
								<td>{{digest.operator}}</td>
							</tr>
						</table>
					</div>
					
					<div class="tab-pane {{viewType==2?'active':''}}">
						<h4>{{fileName}}</h4>
						<table class="table table-bordered" ng-if="contentList.length>0">
							<thead>
								<tr>
									<th ng-repeat="item in contentHead track by $index">{{item}}</th>
								</tr>
							</thead>

							<tbody ng-repeat="item in contentList track by $index"
								class="clear-top-border">
								<tr ng-repeat="description in item.caseDescription track by $index">
									<td ng-if="$index == 0"
										rowspan={{item.caseDescription.length}}>{{item.caseId}}</td>
									<td ng-if="$index == 0" style="min-width: 100px;"
										rowspan={{item.caseDescription.length}} 
										ng-bind-html="item.caseName | highlight: ckeywordsList"></td>
									<td ng-bind-html="description | highlight: ckeywordsList"></td>
								</tr>
							</tbody>
						</table>
						<div ng-if="contentList.length==0">
			                <p>检测项索引表未上传</p>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>