<section class="content-header">
	<h1>
		3C-检索结果
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">

				<div class="box-header">
					<h4>
						检索关键字：{{searchInput.field}} {{searchInput.keyword}} {{searchInput.contentKeyword}}
					</h4>
					共xx条
				</div>

				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover ccc-search-table" ng-repeat="item in list">
							<thead>
								<tr>
									<td colspan="13">{{$index+1}}</td>
								</tr>
								<tr>
									<th>产品型号</th>
									<th style="min-width: 100px;">软件名称</th>
									<th>软件版本</th>
									<th style="min-width: 60px;">测试类别</th>
									<th>测试依据</th>
									<th>颁发日期</th>
									<th>文件编号</th>
									<th>链接</th>
									<th style="min-width: 60px;">认证机构</th>
									<th style="min-width: 60px;">备注</th>
									<th>建立日期</th>
									<th>更新日期</th>
									<th>操作人</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{item.model}}</td>
									<td>{{item.name}}</td>
									<td>{{item.version}}</td>
									<td>{{item.testType}}</td>
									<td>{{item.basis}}</td>
									<td style="word-wrap: break-word;"><a
										ng-href="#/ccc/view?id={{item.id}}">{{item.docNo}}</a></td>
									<td>{{item.awardDate}}</td>
									<td>
									<a ng-if="item.hasURL" ng-href="{{item.url}}" target="_blank">link</a>
									<span ng-if="!item.hasURL">{{item.url}}</span>
									</td>
									<td>{{item.organization}}</td>
									<td>{{item.remarks}}</td>
									<td>{{item.createAt}}</td>
									<td>{{item.updateAt}}</td>
									<td>{{item.operator}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="box-footer clearfix">
						<paging class="smallpagination pagination-sm no-margin pull-right"
							page="pagination.page" page-size="pagination.size"
							total="pagination.totalElements" adjacent="1" dots="..."
							hide-if-empty="true" show-prev-next="true" show-first-last="true"
							paging-action="onPageChange(page)"> </paging>
					</div>

				</div>
			</div>
		</div>
</section>
