<section class="content-header">
	<h1>
		3C-检索结果
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">

				<div class="box-header">
					<h4>
						检索关键字：{{searchField}}={{searchInput.keyword}}
					</h4>
					共{{pagination.totalElements}}条
				</div>

				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover ccc-search-table" ng-repeat="item in list">
							<thead>
								<tr>
									<td colspan="11">{{$index+1}}</td>
								</tr>
								<tr>
                            		<th>文件编号</th>
									<th>产品型号</th>
									<th>产品名称</th>
									<th>颁发日期</th>
									<th>有效日期</th>
									<th>链接</th>
			                        <th>认证机构</th>
			                        <th>备注</th>
			                        <th>建立日期</th>
			                        <th>更新日期</th>
			                        <th>操作人</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="word-wrap: break-word;">
										<a ng-href="#/ccc/view?id={{item.id}}">{{item.docNo}}</a>
									</td>
									<td>{{item.model}}</td>
									<td>{{item.productName}}</td>
									<td>{{item.awardDate | date:'yyyy-MM-dd'}}</td>
		                            <td>{{item.expiryDate | date:'yyyy-MM-dd'}}</td>
		                            <td>
		                            	<span ng-if="!item.hasURL">{{item.url}}</span>
		                            	<a ng-if="item.hasURL" ng-href="{{item.url}}" target="_blank">link</a>
		                            </td>
		                            <td>{{item.organization}}</td>
		                            <td>{{item.remarks}}</td>
		                            <td>{{item.createDate | date:'yyyy-MM-dd'}}</td>
		                            <td>{{item.updateDate | date:'yyyy-MM-dd'}}</td>
		                            <td>{{item.operator}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="box-footer clearfix">
						<paging class="smallpagination pagination-sm no-margin pull-right"
							page="pagination.page" page-size="pagination.size"
							total="pagination.totalElements" adjacent="1" dots="..."
							hide-if-empty="true" show-prev-next="true" show-first-last="true"
							paging-action="onPageChange(page)"> </paging>
					</div>

				</div>
			</div>
		</div>
</section>
