<section class="content-header">
    <h1>3C
        <small>CCC认证汇总表</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 400px;">
                            <input type="text" name="table_search" class="form-control pull-right"
                                   placeholder="Search">

                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button id="add-new-inspection" class="btn btn-default" ng-click="addInspection()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>文件编号</th>
                            <th>产品型号</th>
                            <th>产品名称</th>
                            <th>颁发日期</th>
                            <th>有效日期</th>
                            <th>链接</th>
                            <th>认证机构</th>
                            <th>备注</th>
                            <th>建立日期</th>
                            <th>更新日期</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list" >
                            <td>{{$index+1}}</td>
                            <td>{{item.docNo}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.awardDate}}</td>
                            <td>{{item.expiryDate}}</td>
                            <td><a ng-href="{{item.url}}">link</a></td>
                            <td>{{item.organization}}</td>
                            <td>{{item.remarks}}</td>
                            <td>{{item.createDate}}</td>
                            <td>{{item.updateDate}}</td>
                            <td>{{item.operator}}</td>
                            <td><a>修改</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
				<div class="box-footer clearfix">
	              <ul class="pagination pagination-sm no-margin pull-right">
	                <li><a href="">&laquo;</a></li>
	                <li><a href="">1</a></li>
	                <li><a href="">2</a></li>
	                <li><a href="">3</a></li>
	                <li><a href="">&raquo;</a></li>
	              </ul>
	            </div>
            </div>
        </div>
    </div>
</section>
