<section class="content-header">
    <h1>3C
        <small>CCC认证汇总表</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 400px;">
                            <input type="text" name="table_search" class="form-control pull-right"
                                   placeholder="Search">
						<div class="input-group-btn">
                            <button class="btn btn-default" ng-click="edit()">新增</button>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="importList()">批量导入</button>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>文件编号</th>
                            <th>产品型号</th>
                            <th>产品名称</th>
                            <th>颁发日期</th>
                            <th>有效日期</th>
                            <th>链接</th>
                            <th>认证机构</th>
                            <th>备注</th>
                            <th>建立日期</th>
                            <th>更新日期</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list" >
                            <td>{{$index+1}}</td>
                            <td>{{item.docNo}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.awardDate}}</td>
                            <td>{{item.expiryDate}}</td>
                            <td><a ng-href="{{item.url}}">link</a></td>
                            <td>{{item.organization}}</td>
                            <td>{{item.remarks}}</td>
                            <td>{{item.createDate}}</td>
                            <td>{{item.updateDate}}</td>
                            <td>{{item.operator}}</td>
                            <td><button class="btn btn-link" ng-click="edit(item)">修改</button> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <paging class="smallpagination pagination-sm no-margin pull-right" page="pagination.page" page-size="pagination.size"
                            total="pagination.totalElements" adjacent="1" dots="..." hide-if-empty="true"
                            show-prev-next="true" show-first-last="true" paging-action="onPageChange(page)">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</section>
