<section class="content-header">
    <h1>双证汇总表
        <small>软件著作权、软件产品登记证、软件评测报告、类别界定报告</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                 <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools" style="left:10px;">
                        <form class="form-inline">
							<div class="btn-group">
								<button class="btn btn-default" ng-click="edit()">新增</button>
								<button class="btn btn-primary" ng-click="importList()">{{fileName?'重新选择':'导入列表'}}</button>
							</div>
							
							<div class="btn-group pull-right">
								<button class="btn btn-default" ng-click="search(searchInput)">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
							<div class="form-group pull-right">
								<label class="control-label"> </label>
								<input type="text" class="form-control" placeholder="输入关键字" ng-model="searchInput.keyword" ng-keydown="enterEvent($event)">
							</div>
							<div class="form-group pull-right">
								<select class="form-control" style="width: 150px" ng-model="searchInput.field" ng-options="f.value as f.name for f in fields"></select>
							</div>
						</form>
                    </div>
                </div>
                
                <div class="box-header" ng-if="fileName">
	                <span>{{fileName}}</span>
	                <button class="btn btn-default" ng-click="submit()">上传</button>
	                <button class="btn btn-danger" ng-click="removeFile()">删除</button>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>软件名称</th>
                            <th>简称</th>
                            <!--软件著作权-->
                            <th>软著登记号</th>
                            <!--<th>签发日期</th>-->
                            <th>链接</th>
                            <!--<th>认证机构</th>-->
                            <!--<th>软件类型</th>-->
                            <!--软件产品登记证书-->
                            <th>软件产品登记证书</th>
                            <!--<th>登记日期</th>-->
                            <!--<th>登记有效期</th>-->
                            <th>链接</th>
                            <!--<th>认证机构</th>-->
                            <!--软件测评报告-->
                            <th>软件测评报告号</th>
                            <!--<th>签发日期</th>-->
                            <th>链接</th>
                            <!--<th>认证机构</th>-->
                            <!--类别界定报告-->
                            <th>类别界定报告号</th>
                            <!--<th>鉴定日期</th>-->
                            <th>链接</th>
                            <!--<th>认证机构</th>-->
                            <!--其它-->
                            <th>软件型号</th>
                            <th>负责人</th>
                            <th>建立日期</th>
                            <th>更新日期</th>
                            <th>操作人</th>
                            <th style="width:60px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list" >
                            <td>{{$index+1}}</td>
                            <td>{{item.softwareName}}</td>
                            <td>{{item.abbreviation}}</td>
                            <!--软件著作权-->
                            <td style="word-wrap: break-word;">{{item.crNo}}</td>
                            <!--<td>{{item.crDate}}</td>-->
                            <td>
                            	<span ng-if="!item.hasCrURL">{{item.crUrl}}</span>
                            	<a ng-if="item.hasCrURL" ng-href="{{item.crUrl}}" target="_blank">link</a>
                            </td>
                            <!--<td>{{item.crOrganization}}</td>-->
                            <!--<td>{{item.crSoftwareType}}</td>-->
                            <!--软件产品登记证书-->
                            <td style="word-wrap: break-word;">{{item.rgNo}}</td>
                            <!--<td>{{item.rgDate}}</td>-->
                            <!--<td>{{item.rgExpiryDate}}</td>-->
                            <td>
                            	<span ng-if="!item.hasRgURL">{{item.rgUrl}}</span>
                            	<a ng-if="item.hasRgURL" ng-href="{{item.rgUrl}}" target="_blank">link</a>
                            </td>
                            <!--<td>{{item.rgOrganization}}</td>-->
                            <!--软件测评报告-->
                            <td style="word-wrap: break-word;">{{item.epNo}}</td>
                            <!--<td>{{item.epDate}}</td>-->
                            <td>
                            	<span ng-if="!item.hasEpURL">{{item.epUrl}}</span>
                            	<a ng-if="item.hasEpURL" ng-href="{{item.epUrl}}" target="_blank">link</a>
                            </td>
                            <!--<td>{{item.epOrganization}}</td>-->
                            <!--界定类别报告-->
                            <td style="word-wrap: break-word;">{{item.cdNo}}</td>
                            <!--<td>{{item.cdDate}}</td>-->
                            <td>
                            	<span ng-if="!item.hasCdURL">{{item.cdUrl}}</span>
                            	<a ng-if="item.hasCdURL" ng-href="{{item.cdUrl}}" target="_blank">link</a>
                            </td>
                            <!--<td>{{item.cdOrganization}}</td>-->
                            <!--其它-->
                            <td>{{item.model}}</td>
                            <td>{{item.charge}}</td>
                            <td>{{item.createDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.updateDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.operator}}</td>
                            <td>
                            	<button class="btn btn-link" ng-click="edit(item)">修改</button>
                            	<button class="btn btn-link" ng-click="view(item)">查看</button>
							</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-footer clearfix">
                    <paging class="smallpagination pagination-sm no-margin pull-right" page="pagination.page" page-size="pagination.size"
                            total="pagination.totalElements" adjacent="1" dots="..." hide-if-empty="true"
                            show-prev-next="true" show-first-last="true" paging-action="onPageChange(page)">
                    </paging>
                </div>

            </div>
        </div>
    </div>
</section>
