<section class="content-header">
    <h1>公检国标
        <small>型检汇总表</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 400px;">
                            <input type="text" name="table_search" class="form-control pull-right"
                                   placeholder="Search">

                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button id="add-new-inspection" class="btn btn-default" ng-click="edit()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品型号</th>
                            <th>软件名称</th>
                            <th>软件版本</th>
                            <th>测试类别</th>
                            <th>受检单位</th>
                            <th>测试依据</th>
                            <th>颁发日期</th>
                            <th>文件编号</th>
                            <th>链接</th>
                            <th>认证机构</th>
                            <th>备注</th>
                            <th>建立日期</th>
                            <th>更新日期</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list" >
                            <td>{{$index+1}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.version}}</td>
                            <td>{{item.testType}}</td>
                            <td>{{item.company}}</td>
                            <td>{{item.basis}}</td>
                            <td>{{item.awardDate}}</td>
                            <td>{{item.docNo}}</td>
                            <td><a ng-href="{{item.certUrl}}" target="_blank">link</a></td>
                            <td>{{item.organization}}</td>
                            <td>{{item.remarks}}</td>
                            <td>{{item.createAt| date:'yyyy-MM-dd'}}</td>
                            <td>{{item.updateAt| date:'yyyy-MM-dd'}}</td>
                            <td>{{item.operator}}</td>
                            <td><button class="btn btn-link" ng-click="edit(item.id)">修改</button> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
	            
	            <div class="box-footer clearfix">
		            <paging
		                class="smallpagination pagination-sm no-margin pull-right"
		                page="1" 
		                page-size="10" 
		                total="128"
		                pg-href="index.html#/inspections/{{page}}"
		                adjacent="2"
		                dots="..."
		                hide-if-empty="true"
		                show-prev-next="true"
		                show-first-last="true"
		                paging-action="DoCtrlPagingAct('Paging Clicked')">
		            </paging>  
	            </div>
            
            </div>
        </div>
    </div>
</section>
