<section class="content-header">
	<h1>
		公检国标-检索结果 <small>型检汇总表</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="overlay" ng-if="isLoading">
	              <i class="fa fa-refresh fa-spin"></i>
	            </div>
				<div class="box-header">
					<h4>
						{{searchInput.keyword?('检索关键字：'+searchField+'='+searchInput.keyword):''}} {{searchInput.contentKeyword?('内容关键字='+searchInput.contentKeyword):''}}
					</h4>
					共{{pagination.totalElements}}条
				</div>

				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody ng-repeat="item in list">
								<tr>
									<th>序号</th>
									<th>产品型号</th>
									<th style="min-width: 100px;">软件名称</th>
									<th>软件版本</th>
									<th style="min-width: 60px;">测试类别</th>
									<th style="min-width: 100px;">受检单位</th>
									<th style="min-width: 100px;">测试依据</th>
									<th>颁发日期</th>
									<th style="min-width: 60px;">文件编号</th>
									<th style="min-width: 80px;">链接</th>
									<th style="min-width: 60px;">认证机构</th>
									<th style="min-width: 60px;">备注</th>
									<th style="min-width: 60px;">关键字匹配数</th>
									<th style="min-width: 50px;">操作</th>
								</tr>
								<tr ng-if="list.length == 0">
									<td colspan="14" style="text-align: center;">没有查询到结果</td>
								</tr>
								<tr>
									<td>{{$index+1}}</td>
									<td ng-bind-html="item.typeInspection.model | highlight: tkeywordsList"></td>
									<td ng-bind-html="item.typeInspection.name | highlight: tkeywordsList"></td>
									<td>{{item.typeInspection.version}}</td>
									<td ng-bind-html="item.typeInspection.testType | highlight: tkeywordsList"></td>
									<td>{{item.typeInspection.company}}</td>
									<td ng-bind-html="item.typeInspection.basis | highlight: tkeywordsList"></td>
									<td>{{item.typeInspection.awardDate | date:'yyyy-MM-dd'}}</td>
									<td style="word-wrap: break-word; word-break:break-all;" ng-bind-html="item.typeInspection.docNo | highlight: tkeywordsList"></td>
									<td><span ng-if="!item.typeInspection.hasURL">{{item.certUrl}}</span> <a
										ng-if="item.typeInspection.hasURL" ng-href="{{item.typeInspection.certUrl}}" target="_blank">OA资质报告下载</a>
									</td>
									<td ng-bind-html="item.typeInspection.organization | highlight: tkeywordsList"></td>
									<td ng-bind-html="item.typeInspection.remarks | highlight: tkeywordsList"></td>
									<td>{{item.count}}</td>
									<td>
		                            	<a ng-href="#/inspections/edit?id={{item.typeInspection.id}}" target="_blank" ng-if="authority=='ROLE_ADMIN'">修改</a>
		                            	<a ng-href="#/inspections/view?id={{item.typeInspection.id}}&f={{searchField}}&kw={{searchInput.keyword}}&c={{searchInput.contentKeyword}}&v=1" target="_blank">查看</a>
									</td>
								</tr>
								<tr ng-if="searchInput.contentKeyword">
									<td colspan="13" style="max-height:60px; overflow:hidden;text-overflow:ellipsis;">
										<p ng-bind-html="item.casesCut | highlight: ckeywordsList"></p>
									</td>
									<td>
		                            	<a ng-href="#/inspections/view?id={{item.typeInspection.id}}&f={{searchField}}&kw={{searchInput.keyword}}&c={{searchInput.contentKeyword}}&v=2" target="_blank">查看</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="box-footer clearfix">
						<paging class="smallpagination pagination-sm no-margin pull-right"
							page="pagination.page" page-size="pagination.size"
							total="pagination.totalElements" adjacent="1" dots="..."
							show-prev-next="true" show-first-last="true"
							paging-action="onPageChange(page)">
						</paging>
					</div>
				</div>
			</div>
		</div>
</section>
