<div class="modal-header">
    <div class="modal-title">双证 - 高级搜索
        <button type="button" class="btn btn-link pull-right" ng-click="cancel();">
            <span class="icon icon-remove"></span>
        </button>
    </div>
</div>
<div class="modal-body">
    <form class="form form-horizontal" name="userForm" role="form" novalidate>
        <div class="form-group form-group-sm">
            <label class="col-sm-4 control-label"> 搜索关键字1：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="请输入" ng-model="keywords.kw1" name="kw1">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-4 control-label"> 搜索关键字2：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="请输入" ng-model="keywords.kw2" name="kw2">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
