<section class="content-header">
	<h1>
		公检国标-检索结果 <small>型检汇总表</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">

				<div class="box-header">
					<h4>
						{{searchInput.keyword?'检索关键字：'+searchField+'：'+searchInput.keyword:''}} {{searchInput.contentKeyword?'内容关键字='+searchInput.contentKeyword:''}}
					</h4>
					共{{pagination.totalElements}}条
				</div>

				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody ng-repeat="item in list">
								<tr>
									<td colspan="13">{{$index+1}}</td>
								</tr>
								<tr>
									<th>产品型号</th>
									<th style="min-width: 100px;">软件名称</th>
									<th>软件版本</th>
									<th style="min-width: 60px;">测试类别</th>
									<th>测试依据</th>
									<th>颁发日期</th>
									<th>文件编号</th>
									<th>链接</th>
									<th style="min-width: 60px;">认证机构</th>
									<th style="min-width: 60px;">备注</th>
									<th>建立日期</th>
									<th>更新日期</th>
									<th>操作人</th>
								</tr>
								<tr>
									<td>{{item.model}}</td>
									<td>{{item.name}}</td>
									<td>{{item.version}}</td>
									<td>{{item.testType}}</td>
									<td>{{item.basis}}</td>
									<td>{{item.awardDate | date:'yyyy-MM-dd'}}</td>
									<td style="word-wrap: break-word;">
										<a href="#/inspections/view?id={{item.id}}" target="_blank">{{item.docNo}}</a>
									</td>
									<td>
										<span ng-if="!item.hasURL">{{item.certUrl}}</span>
										<a ng-if="item.hasURL" ng-href="{{item.certUrl}}" target="_blank">link</a>
									</td>
									<td>{{item.organization}}</td>
									<td>{{item.remarks}}</td>
									<td>{{item.createAt | date:'yyyy-MM-dd'}}</td>
									<td>{{item.updateAt | date:'yyyy-MM-dd'}}</td>
									<td>{{item.operator}}</td>
								</tr>
								<tr>
									<td colspan="13"><span>内容内容内容内容内容内容内容内容内容内容内容内容内容<mark>高亮关键字</mark>内容内容内容内容内容内容内
											容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内容内容内容内容内容内 容内容内容内容<mark>高亮关键字</mark>内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内容内容内容内容内容内
											容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内容内容内容内容内容内
											容内容内容内容内容内容内容内容内容内容内容内容内容<mark>高亮关键字</mark>内容内容内容内容
									</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- 
					<div class="box-footer clearfix">
						<paging class="smallpagination pagination-sm no-margin pull-right"
							page="pagination.page" page-size="pagination.size"
							total="pagination.totalElements" adjacent="1" dots="..."
							hide-if-empty="true" show-prev-next="true" show-first-last="true"
							paging-action="onPageChange(page)"> </paging>
					</div>
 					-->
				</div>
			</div>
		</div>
</section>
