<section class="content-header">
    <h1>公检国标
        <small>型检汇总表</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools" style="left:10px;">
                        <div class="input-group input-group-sm">
                        	<div class="input-group-btn">
                                <button class="btn btn-default" ng-click="edit()">新增</button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" ng-click="importList()">{{fileName?'重新选择':'导入列表'}}</button>
                            </div>
                            <input type="text" class="form-control pull-right" placeholder="Search" style="width: 200px">
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="searchList()">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="advancedSearch()">高级搜索</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="box-header" ng-if="fileName">
	                <span>{{fileName}}</span>
	                <button class="btn btn-default" ng-click="submit()">上传</button>
	                <button class="btn btn-danger" ng-click="removeFile()">删除</button>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品型号</th>
                            <th style="min-width:100px;">软件名称</th>
                            <th>软件版本</th>
                            <th style="min-width:60px;">测试类别</th>
                            <th style="min-width:100px;">受检单位</th>
                            <th>测试依据</th>
                            <th>颁发日期</th>
                            <th>文件编号</th>
                            <th>链接</th>
                            <th style="min-width:60px;">认证机构</th>
                            <th style="min-width:60px;">备注</th>
                            <th>建立日期</th>
                            <th>更新日期</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="list.length == 0">
                        	<td colspan="16" style="text-align:center;">没有查询到结果</td>
                        </tr>
                        <tr ng-repeat="item in list" ng-if="list.length> 0">
                            <td>{{$index+1}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.version}}</td>
                            <td>{{item.testType}}</td>
                            <td>{{item.company}}</td>
                            <td>{{item.basis}}</td>
                            <td>{{item.awardDate | date:'yyyy-MM-dd'}}</td>
                            <td style="word-wrap: break-word;">{{item.docNo}}</td>
                            <td>
                            	<span ng-if="!item.hasURL">{{item.certUrl}}</span>
                            	<a ng-if="item.hasURL" ng-href="{{item.certUrl}}" target="_blank">link</a>
                            </td>
                            <td>{{item.organization}}</td>
                            <td>{{item.remarks}}</td>
                            <td>{{item.createAt | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.updateAt | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.operator}}</td>
                            <td>
                            	<button class="btn btn-link" ng-click="edit(item)">修改</button>
                            	<button class="btn btn-link" ng-click="view(item)">查看</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
	            
	            <div class="box-footer clearfix">
		            <paging
		                class="smallpagination pagination-sm no-margin pull-right"
		                page="pagination.page" 
		                page-size="pagination.size" 
		                total="pagination.totalElements"
		                adjacent="1"
		                dots="..."
		                hide-if-empty="true"
		                show-prev-next="true"
		                show-first-last="true"
		                paging-action="onPageChange(page)">
		            </paging>  
	            </div>
            
            </div>
        </div>
    </div>
</section>
