.file-upload-span{
	display: inline-block;
	vertical-align: middle;
}

.clear-bottom-border{
	border-bottom: 0  !important;
}

.clear-top-border{
	border-top: 0  !important;
} 

.view-table tbody tr td:nth-child(1){
	width: 150px;
}